.App {
  text-align: center;
}


  .bg {
  background-image: url("./assets/matches.png");
  height: 80vh;
  width: 60vw;
  left:20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  }
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: .85px;
  }
  .text > h2{
    font: italic 950 40px/40px "freight-display-pro", Georgia, "Times New Roman", Serif;
  }
  ._issue{
    font: 700 10px/10px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .btn{
    font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, sans-serif !important;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    /* padding: 18px 12px !important; */
    margin: 0 auto 20px auto;
    min-width: 87px;
    display: inline-block;
    color: #fff;
    background: #000;
    -webkit-font-smoothing: antialiased;
    border: 2px solid black!important;
  }
  ._btn{
    position: absolute;
    top:  65%;
    left: 52%;
    transform: translate(-65%, -65%);
  }
  ._link{
    color: #fff;
    font: 700 12px/24px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }