body {
  /* font: 400 14px "freight-sans-pro", Helvetica, Arial, Sans-Serif; */
  color: #222222;

}

  .bg {
  background-image: url("./assets/matches.png");
  height: 80vh;
  width: 60vw;
  left:20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  }
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: .85px;
  }
  .text > h2{
    font: italic 950 40px/40px "freight-display-pro", Georgia, "Times New Roman", Serif;
  }
  ._issue{
    font: 700 10px/10px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .btn{
    font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, sans-serif !important;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    /* padding: 18px 12px !important; */
    margin: 0 auto 20px auto;
    min-width: 87px;
    display: inline-block;
    color: #fff;
    background: #000;
   
    border: 2px solid black!important;
  }
  ._btn{
    position: absolute;
    top:  65%;
    left: 52%;
    transform: translate(-65%, -65%);
  }
  ._link{
    color: #fff;
    font: 700 12px/24px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

._list{
  list-style: none;
  
}
.navList{
  display: inline;
  padding: 10px;
  
}


 ._logo {
  background-color: transparent;
  border: 0;
  color: transparent;
  /* font: 0/0 a; */
  text-shadow: none;
  /* text-indent: -9999px; */
  background-image: url("./assets/global/nautilus-logo-sprite@2x.png");
  background-size: 344px;
  width: 172px;
  height: 55px;
  left:20%;
  text-decoration: none;
  color:black;
  position: relative;
  display: block;
 
}
.navDiv{
  top:80%;
  position: absolute;
  left: 38%;
  /* margin-left: -190px; */
  text-align: center;
  display: block;
}
.cardImg{
background: url("./assets/clover_card.jpg");
height: 30vh;
width: 60vw;
left:20%;
display: table;
text-align: center;
position: relative;
color: #fff;
}
/* button.btnrv2 {
  background: #fff;
  color: #000;
  border: 2px solid #000;
} */
.button {
  font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, sans-serif !important;
  height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-align: center;
  padding: 12px 10px !important;
  position: absolute;
  top:  110%;
  left: 52%;
  transform: translate(-65%, -65%);
}
.midText{
  font:"freight-display-pro", Georgia, "Times New Roman", Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffb618;
  font-size: 25px;
  text-align: center;
  line-height: 0.85em;
  letter-spacing: 0.07em;
  margin-bottom: 13px;
}
.issueTabs{
  background: #f3f3f3;
  z-index: 3;
  position: absolute;
  /* width: 25px; */
}
.tabs{
  padding: 15px 0 18px;
  border-top: solid 1px #cdcdcd;
}
.sideBar{
  position: relative;
    z-index: 2;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: blanchedalmond;
    width: 260px;
    float: left;
    background: #f3f3f3;

  }


.sideList{
  list-style: none;
}
.details{
  position: relative;
  z-index:99;
  width: 188px;
  height: 160px;

  z-index: 1;
  background: #fff;
  padding: 12px 20px 13px;
  top:100%;
  left:-72.7%;
  border:solid
}
.centerSection{
display:flex;
padding-top: 10px;;

}
.centerImg{
background: url("./assets/ai.png");
height: 40vh;
width: 80vw;
text-align: center;
position: relative;

}
.bottomMid{
  display:flex;
}
.midBtm1{
background: url("./assets/music.png");
height: 40vh;
width: 30vw;
text-align: center;
position: relative;
}
.midBtm2{
background: url("./assets/art.png");
height: 40vh;
width: 30vw;
text-align: center;
position: relative;

}
.details2{
  position: relative;
  z-index:99;
  width: 188px;
  height: 160px;
  z-index: 3;
  background: #fff;
  padding: 12px 20px 13px;
  top:100%;
  left:32%;
  border:solid;
}
.lastItem > h3{
  text-align: center;
    font: italic 950 40px/40px "freight-display-pro", Georgia, "Times New Roman", Serif;
  
}
.lastItem > h4{
  text-align: center;
}