body {
  font: 400 14px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
  color: #222222;

}

  .bg {
  background-image: url("./assets/matches.png");
  height: 80vh;
  width: 60vw;
  left:20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  }
  .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: .85px;
  }
  .text > h2{
    font: italic 950 40px/40px "freight-display-pro", Georgia, "Times New Roman", Serif;
  }
  ._issue{
    font: 700 10px/10px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .btn{
    font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, sans-serif !important;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    /* padding: 18px 12px !important; */
    margin: 0 auto 20px auto;
    min-width: 87px;
    display: inline-block;
    color: #fff;
    background: #000;
    -webkit-font-smoothing: antialiased;
    border: 2px solid black!important;
  }
  ._btn{
    position: absolute;
    top:  65%;
    left: 52%;
    transform: translate(-65%, -65%);
  }
  ._link{
    color: #fff;
    font: 700 12px/24px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
 .navWrap{
  
    border:solid
}
._list{
  list-style: none;
  
}
.navList{
  display: inline;
  padding: 10px;
  
}


 ._logo {
  background-color: transparent;
  border: 0;
  color: transparent;
  /* font: 0/0 a; */
  text-shadow: none;
  /* text-indent: -9999px; */
  background-image: url("./assets/global/nautilus-logo-sprite@2x.png");
  background-size: 344px;
  width: 172px;
  height: 55px;
  left:20%;
  text-decoration: none;
  color:black;
  position: relative;
  display: block;
 
}
.navDiv{
  top:80%;
  position: absolute;
  left: 38%;
  /* margin-left: -190px; */
  text-align: center;
  display: block;
}
.cardImg{
background: url("./assets/clover_card.jpg");
height: 30vh;
width: 60vw;
left:20%;
display: table;
text-align: center;
position: relative;
color: #fff;
}